In this practice exercise, we will analyze Chipotle order data.  The file "Chipotle.tsv" contains this information in a tab separated file.  First, read in the data.  You might find the delimiter input to the pandas read_csv method useful. Use the head method to check that everything has been read in correctly.

In [3]:
import pandas as pd
import numpy as np

#Write your code here
df_chipotle = pd.read_csv("Data/chipotle_orders.tsv",\
                         delimiter = "\t")

df_chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Now take a look at the dtypes attribute to see how the columns are stored.

In [2]:
#Write your code here
df_chipotle.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

We will write code to answer the following questions:

1. What fraction of customers order burritos versus burrito bowls?
2. What is the breakdown of salsa choice?
3. What is the average amount of money spent on a Chipotle order?

For question 1, we will use the apply method to create a column that will read "Burrito" for items that are a burrito, "Bowl" for items that are a bowl and "Other" for every other item.

In [1]:
def Burrito_or_Bowl(item):
    
    return None

Create new column called "Bowl_Burrito" and compute fractions of bowl versus burrito orders. The value_counts() method could be useful here.

In [2]:
#Write you code here

For question 2, we need to write another function to be used with apply to create a column for the salsas. Let's look at the structure of the choice_description column:

In [17]:
#Look at choice_description
df_chipotle.loc[4,"choice_description"]

'[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]'

In [19]:
#Another one
df_chipotle.loc[7,"choice_description"]

'[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]'

Notice that this column is a string, which contains what looks like a list of lists with the salsa type as the first entry in the list.  Make sure you get rid of the "(Hot)" in the salsa description.

First, let's only look at orders without an NaN in the choice_description column.

In [7]:
#Drop NaN using dropna() method

In [36]:
#Write function here
def Get_Salsa(description):
    
    return None

In [3]:
#Add the new column

In [4]:
#Use value counts to get the breakdown

For question 3, use iterrows to calculate the average price per order. Note that the item price column is a string, so first use string methods plut the as.type() method to recast this column as a float.

In [5]:
#Write your code here

In [6]:
#Get the average proce of each order